body{

  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: #1a1a2e;
}

.box{
  width: 250px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #16213e;
  text-align: center;
}


.box h1{
color: white;
text-transform: uppercase;
font-weight: 500;

}

.box input[type="text"], .box input[type = "password"]{
  border: 0;
  
  background: none;
  font-family: 'Space Grotesk', sans-serif;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #e94560;
  padding: 14px 10px;
  width:  200px;
  outline: none;
  color: #fcdab7;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type = "password"]:focus{

  width: 280px;
  border-color: #1e5f74;
  }

.box input[type = "submit"]{
  border: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #E8A87C;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;

}

.box input[type = "submit"]:hover{
  background:  #E8A87C;

}